* {
    outline: 0 none;
}

body {
    margin: 0;
    padding: 0;

    .app-base {
        font-size: 16px;
        max-width: 1280px;
        margin: 0 auto;

        sup {
            font-size: 12px;
            margin-left: 10px;
        }
    }
}

