* {
    outline: 0 none;
}

body {
    margin: 0;
    padding: 0;

    &.app-base {
        font-size: 16px;
        width: 100%;
        margin: 0;

        sup {
            font-size: 12px;
            margin-left: 10px;
        }
    }
}

#app {
    position: relative;
    z-index: 20;
}

@media print {
    #app {
        display: block;
    }
}

